
nav {
    border-style: dashed;
    border-color: yellow;
    background-color: black;
    color: red;
    margin: auto;
}

body {
    max-width: 1500px;
    background-color: blanchedalmond;
    margin: 2em 1.5em;
}

p {
    font-size: 1.5em;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: larger;
}

a:hover {
    color: magenta;
}

img {
    border-radius: 10%;
}

footer {
    background-color: aquamarine;
    text-align: center;
    margin-top: 5em;
    padding: 1em;
    font-size: smaller;
}